<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Bienvenido a Vapor</title>
</head>

<body>
    <!-- ------------------------header-----------------------------  -->
    <%- include('../partials/header.ejs') %>
    <!-- ------------------------main-----------------------------  -->
    <img src="/img/carrion-home-2.jpg" alt="fondo de producto">
    <main>
        <section class="carrusel">
            <img class="carrusel-img-principal" src="/img/daymara/daymara.jpg" alt="game">
            <div class="daymare">
                <h2>Daymare: 1998</h2>
                <div class="img-demos">
                    <img class="img-demostrativa img-1" src="/img/daymara/foto11.jpg" alt="game">
                    <img class="img-demostrativa img-1" src="/img/daymara/foto22.jpg" alt="game">
                    <img class="img-demostrativa img-1" src="/img/daymara/foto33.jpg" alt="game">
                    <img class="img-demostrativa img-1" src="/img/daymara/foto44.jpg" alt="game">
                </div>
                <p>AVENTURA | TERROR | ZOMBIES</p>
                <p>PRECIO: 125$ OFERTA: 50$</p>
            </div>
        </section>
        <div class="titulo-JR">
        <h2>Juegos Recomendados</h2>
        </div>
        <section class="juegos-recomendados">
            <article class="juego-1">
                <img src="/img/JR1.jpg" alt="Plague Inc">
                <div class="detalle--graits">
                    <p>$12</p>
                </div>
                <h3 class="titulos-games">Plague Inc</h3>
                <ul type="None">
                    <li>Un jugador</li>
                    <li>Estrategia</li>
                    <li>Simulador</li>
                    <li>Indie</li>
                </ul>
            </article>
            <article class="juego-2">
                <img src="/img/JR2.jpg" alt="Zombie Army 4">
                <div class="detalle--graits">
                    <p>$15</p>
                </div>
                <h3 class="titulos-games">Zombie Army 4</h3>
                <ul type="None">
                    <li>Multijugador</li>
                    <li>Disparos</li>
                    <li>Acción</li>
                    <li>JcE</li>
                </ul>
            </article>
            <article class="juego-3">
                <img src="/img/JR3.jpg" alt="Remnant II">
                <div class="detalle--graits">
                    <p>$11</p>
                </div>
                <h3 class="titulos-games">Remnant II</h3>
                <ul type="None">
                    <li>Tipo Dark Souls</li>
                    <li>Aventura</li>
                    <li>Acción</li>
                    <li>Rol</li>
                </ul>
            </article>
            <article class="juego-4">
                <img src="/img/JR4.jpg" alt="Retribution">
                <div class="detalle--graits">
                    <p>$56</p>
                </div>
                <h3 class="titulos-games">Retribution</h3>
                <ul type="None">
                    <li>Supervivencia</li>
                    <li>Acción</li>
                    <li>Rol</li>
                    <li>RV</li>
                </ul>
            </article>
        </section>
        <section class="contenedor">
            <article class="producto__free--1">
                <a href="#"><img src="/img/producto1_free.jpg" alt="game"></a>
                <div class="detalle--graits">
                    <p>GRATIS</p>
                </div>
                <div class="detalle -caracteristicas--1">
                    <h2 class="titulo">Left 4 Dead</h2>
                    <p class="descripcion">Finaliza el 25/10/2023</p>
                </div>
            </article>
            <article class="producto__free--2">
                <a href="#"><img src="/img/producto2_free.jpg" alt="game"></a>
                <div class="detalle--graits">
                    <p>PROXIMAMENTE</p>
                </div>
                <div class="detalle -caracteristicas--2">
                    <h2 class="titulo">World War Z</h2>
                    <p class="descripcion">Disponible el 25/10/2023</p>
                </div>
            </article>
        </section>
    </main>
    <!-- ------------------------footer-----------------------------  -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>