<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Creación de producto</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
	<link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/productCreate.css" rel="stylesheet">
</head>

<body>
	<%-include('../partials/header')%>
		<main>
			<div class="titulo">
				<h1>Creá un producto</h1>
			</div>
			<form class="caja-chica" action="/products/create" method="post" enctype="multipart/form-data">
				<div>
					<label for="discount" class="label">Nombre</label>
					<input type="text" id="discount" name="nombre" placeholder="" class="input">
				</div>
				<div>
					<label for="discount" class="label">ID</label>
					<input type="text" id="discount" name="id" placeholder="" class="input">
				</div>
				<div>
					<label for="discount" class="label">Precio</label>
					<input type="text" id="discount" name="precio" placeholder="" class="input">
				</div>
				<div>
					<label for="name" class="label">Fondo</label>
					<input multiple type="file" id="image" name="imagenesProducts" accept=".jpg, .png" class="input">
				</div>
				<div>
					<label for="price" class="label">Imagen</label>
					<input multiple type="file" id="image" name="imagenesProducts" accept=".jpg, .png" class="input">
				</div>
				<hr style="width: 2000px;">
				<h2>CARACTERÍSTICA N1</h2>
				<div>
					<label for="name" class="label">Fondo</label>
					<input multiple type="file" id="image" name="imagenesProducts" accept=".jpg, .png" class="input">
				</div>
				<div>
					<label for="price" class="label">Imagen</label>
					<input multiple type="file" id="image" name="imagenesProducts" accept=".jpg, .png" class="input">
				</div>
				<div>
					<label for="descripcion" class="label">Descipción</label>
					<textarea id="descripcion" name="descripcionN1" class="input"></textarea>
				</div>
				<hr style="width: 2000px;">
				<h2>CARACTERÍSTICA N2</h2>
				<div>
					<label for="name" class="label">Fondo</label>
					<input multiple type="file" id="image" name="imagenesProducts" accept=".jpg, .png" class="input">
				</div>
				<div>
					<label for="price" class="label">Imagen</label>
					<input multiple type="file" id="image" name="imagenesProducts" accept=".jpg, .png" class="input">
				</div>
				<div>
					<label for="descripcion" class="label">Descipción</label>
					<textarea id="descripcion" name="descripcionN2" class="input"></textarea>
				</div>
				<div>
					<button type="submit">Subir producto</button>
				</div>
			</form>
		</main>
		<%-include('../partials/footer')%>
</body>

</html>