<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/headerYfooter.css">
    <title>Detalles de Producto</title>
</head>

<body>
    <!-- ------------------------header-----------------------------  -->
    <%- include('../partials/header.ejs') %>
        <!-- ------------------------main-----------------------------  -->
        <main>
            <!-- ENTRADA -->
            <section class="entrada">
                <img class="logo" src="/img/carrion/carrion logo.png" alt="Logo">
                <p class="precio-entrada">ARS$ 1.400,00</p>
                <div>
                    <button>COMPRAR AHORA</button>
                    <button>AÑADIR AL CARRITO</button>
                </div>
            </section>

            <!-- PRIMERA CARACTERISTICAS -->
            <section class="section-one">
                <img class="primera-img" src="/img/carrion/primera.jpg" alt="Imagen">
                <div class="texto">
                    <h3>PROGRESIÓN Y DESARROLLO</h3>
                    <p>A medida que el jugador avanza en el juego, la criatura irá creciendo y evolucionando. El jugador
                        podrá desbloquear nuevas habilidades y poderes que le permitirán superar los obstáculos del
                        juego y
                        enfrentarse a enemigos más poderosos.</p>
                </div>
            </section>
            <!-- SEGUNDA CARACTERISTICAS -->
            <section class="section-two">
                <img class="segunda-img" src="/img/carrion/segunda.jpg" alt="Imagen">
                <div class="texto">
                    <h3>SIGILO Y SUPERVIVENCIA</h3>
                    <p>El sigilo es un elemento clave en Carrion. La criatura es muy débil al principio del juego, y los
                        humanos pueden matarla fácilmente si la detectan. Por ello, el jugador deberá aprender a
                        ocultarse y
                        moverse en las sombras para evitar ser visto.</p>
                </div>
            </section>
        </main>
        <!-- ------------------------footer-----------------------------  -->
        <%- include('../partials/footer.ejs') %>
</body>

</html>