<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Vapor</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/productCart.css" rel="stylesheet">
</head>
<body>
    <%-include('../partials/header')%>
    <main>
        <section>
            <div class="titulo">
                <span>Tu carro de compra</span>
            </div>
            <article>
                <div class="articulo">
                    <div class="imagen-titulo">
                        <img src="/img/producto1_free.jpg" alt="Juego1" class="imagen-producto"></i>
                        <p class="titulo-producto">Final Fantasy XVI: Game of the Year Edition</p>
                    </div>
                    <div class="precio-eliminar">
                        <h4 class="precio-producto">$100.00 USD</h4>
                        <p class="eliminar-producto">Eliminar</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="articulo">
                    <div class="imagen-titulo">
                        <img src="/img/producto1_free.jpg" alt="Juego1" class="imagen-producto"></i>
                        <p class="titulo-producto">Advanced Dungeons & Dragons: Eye of the Beholder II - The Legend of Darkmoon</p>
                    </div>
                    <div class="precio-eliminar">
                        <h4 class="precio-producto">$35.00 USD</h4>
                        <p class="eliminar-producto">Eliminar</p>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <div class="resumen">
                <div class="titulo-dos">
                    <span>Resumen de juegos y aplicaciones</span>
                </div>
                <div class="precio-padre">
                    <div class="precio">
                        <div>
                            <span>Precio</span>
                        </div>
                        <div>
                            <span>$135.00 USD</span>
                        </div>
                    </div>
                </div>
                <div class="impuestos-padre">
                    <div class="impuestos">
                        <div>
                            <span>Impuestos</span>
                        </div>
                        <div>
                            <span>$101.25 USD</span>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <span>Total</span>
                    <span>$236.25 USD</span>
                </div>
                <div>
                    <button type="button" class="boton-comprar">
                        <span class="texto-comprar">FINALIZAR COMPRA</span>
                    </button>
                </div>
            </div>
        </section>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>