<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Producto</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <header>
        <div class="header-1">
            <div class="header__logo">
                <img src="/img/logo.png" alt="logo">
                <h1>VAPOR</h1>
            </div>
            <ul class="header__link">
                <li class="header__buscador"><input type="text" placeholder="Buscar"></li>
                <li><a href="#">ACERCA DE</a></li>
                <li><a href="#"><i class="fas fa-user" style="color: #ffffff;"></i></a></li>
                <li><a href="#"><i class="fas fa-shopping-cart" style="color: #ffffff;"></i></a></li>
                <li><a href="#">SOPORTE</a></li>
            </ul>
        </div>
    </header>

    <!--botones_compra_precio-->
    <section class="producto-section">
        <div class="caja-padre">
            <img class="fondo" src="/img/carrion/fondo de producto.jpg">
            <div class="contenido-superpuesto">
                <img class="logo" src="/img/carrion/carrion logo.png" alt="Logo">
                <p class="precio">Precio: $2.900</p>
                <div class="botones">
                    <button class="boton-comprar">Comprar ahora</button>
                    <button class="boton-carrito">Añadir al carrito</button>
                </div>
            </div>
        </div>
    </section>
    
<!--imagen_descripcion_caracteristicas_-->
<section class="producto-section caracteristicas-section">
  <div class="caja-padre">
      <div class="caja-hija">
          <div class="imagen-descripcion">
              <img class="imagen" src="/img/carrion/primera.jpg" alt="Imagen">
              <div class="descripcion">
                  <p>Características: este juego es muy bueno. Tenes que comprarlo</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="producto-section descripcion-section">
  <div class="caja-padre">
      <div class="caja-hija">
          <div class="imagen-descripcion">
              <div class="descripcion">
                  <p>Descripción: que esperas para comprarlo?</p>
              </div>
              <img class="imagen" src="/img/carrion/segunda.jpg" alt="Imagen">
          </div>
      </div>
  </div>
</section>
    
<%- include('../partials/footer.ejs') %>
</body>
</html>
