<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Practicando4</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/public/img/logo.png" alt="logo" class="imagen">
            <h2>VAPOR</h2>
        </div>
        <div class="content">
            <ul type="None">
                <li class="separar">ACERCA DE</li>
                <li class="separar">SOPORTE</li>
            </ul>
            <input class="separar-input" type="text" placeholder="Buscar">
            <div class="separar-user">
                <i class="fas fa-user" style="color: #ffffff; "></i>
            </div>
            <div class="carrito">
                <i class="fas fa-shopping-cart" style="color: #ffffff;"></i>
            </div>
        </div>
    </header>
    <main>
        <div class="fondo-carrion">
            <img src="/public/img/carrion/fondo con logo.jpg alt="fondo" class="lol-2">
        </div>
        <div class="general">
            <img src="/public/img/carrion/ alt="fondo2" class="img-2">
        </div>
    </main>
</body>

</html>