<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Bienvenido a Vapor</title>
</head>

<body>
    <header>
        <div class="header__logo">
            <img src="/public/img/logo.png" alt="logo">
            <h1>VAPOR</h1>
        </div>
        <div class="header__buscador">
            <input type="text" placeholder="Buscar">
        </div>
        <ul class="header__link" type="None">
            <li> <a href="#">ACERCA DE</a></li>
            <li><a href="#"><i class="fas fa-user" style="color: #ffffff; "></i></a></li>
            <li><a href="#"><i class="fas fa-shopping-cart" style="color: #ffffff;"></i></a></li>
            <li> <a href="#">SOPORTE</a></li>
        </ul>
        <img src="/public/img/carrion/fondo_home2.png" alt="fondo de producto">
    </header>
    <main>
        <section class="carrusel">
            <img class="carrusel-img-principal" src="/public/img/daymara/daymara.jpg" alt="game">
            <div class="daymare">
                <h2>Daymare: 1998</h2>
                <div class="img-demos">
                    <img class="img-demostrativa img-1" src="/public/img/daymara/foto11.jpg" alt="game">
                    <img class="img-demostrativa img-1" src="/public/img/daymara/foto22.jpg" alt="game">
                    <img class="img-demostrativa img-1" src="/public/img/daymara/foto33.jpg" alt="game">
                    <img class="img-demostrativa img-1" src="/public/img/daymara/foto44.jpg" alt="game">
                </div>
                <p>AVENTURA | TERROR | ZOMBIES</p>
                <p>PRECIO: 125$ OFERTA: 50$</p>
            </div>
        </section>
        <section class="juegos-recomendados">

        </section>
        <section class="contenedor">
            <article class="producto__free--1">
                <a href="#"><img src="/public/img/producto1_free.jpg" alt="game"></a>
                <div class="detalle--graits">
                    <p>GRATIS</p>
                </div>
                <div class="detalle -caracteristicas--1">
                    <h2 class="titulo">Left 4 Dead</h2>
                    <p class="descripcion">Finaliza el 25/10/2023</p>
                </div>
            </article>
            <article class="producto__free--2">
                <a href="#"><img src="/public/img/producto2_free.jpg" alt="game"></a>
                <div class="detalle--graits">
                    <p>PROXIMAMENTE</p>
                </div>
                <div class="detalle -caracteristicas--2">
                    <h2 class="titulo">World War Z</h2>
                    <p class="descripcion">Disponible el 25/10/2023</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="header__logo">
            <img src="/public/img/logo.png" alt="logo">
            <h1>VAPOR</h1>
        </div>
        <ul type="None">
            <li><a href="#">EMPLEO |</a></li>
            <li><a href="#">INFORMACIÓN |</a></li>
            <li><a href="#">ASISTENCIA |</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
        <ul type="None" class="redes">
            <li><a href="#"><i class="fab fa-facebook" style="color: #ffffff;"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter" style="color: #ffffff;"></i></i></a></li>
            <li><a href="#"><i class="fab fa-youtube" style="color: #ffffff;"></i></i></a></li>
            <li><a href="#"><i class="fab fa-instagram" style="color: #ffffff;"></i></a></li>
            <li><a href="#"><i class="fab fa-twitch" style="color: #ffffff;"></i></a></li>
        </ul>
        <p>©2023 Vapor Entertainment, Inc.</p>
        <p>Todas los</p>
        <p>juegos mencionados NO son</p>
        <p>propiedad de los respectivos desarrolladores de la pagina web.</p>
        <ul type="None" class="politicas">
            <li><a href="#">Privacidad |</a></li>
            <li><a href="#">Legal |</a></li>
            <li><a href="#">Términos |</a></li>
            <li><a href="#">Cookie Policy |</a></li>
            <li><a href="#">Ajustes de cookies</a></li>
        </ul>
    </footer>
</body>

</html>