/*Header*/
.header {
    text-align: center;
    padding: 20px;
    background: rgb(213, 82, 96);
    background: radial-gradient(circle, rgba(213, 82, 96, 1) 0%, rgba(88, 12, 31, 1) 100%);
   
}

.logo img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

h1 {
    margin-top: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: auto;
}


/*Main_Formulario*/


main {
    background: rgb(255, 104, 121);
    background: radial-gradient(circle, rgba(255, 104, 121, 1) 0%, rgba(116, 18, 29, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    
}


label {
    display: block;
    margin-bottom: 5px;
    
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #C52233;
    color: white;
    border: none;
    border: #A7333F solid 2px;
    padding: 10px 20px;
    cursor: pointer;
}

/*footer*/
footer {
    background: rgb(213, 82, 96);
    background: radial-gradient(circle, rgba(213, 82, 96, 1) 0%, rgba(88, 12, 31, 1) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.footer__logo-2 img {
    width: 60px;
    height: 50px;
    padding-right: 8px;
}

.footer__logo-2 {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.footer__logo-2 h1 {
    font-size: 24px;
    margin: 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-size: 13px;
    justify-content: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
}

.redes li {
    padding: 10px;
}

.politicas {
    margin-bottom: 20px;
    justify-content: center;
}

.negritos {
    font-weight: bold;
}