<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <title>Login</title>
</head>

<body>
    <main>
        <!-- ---------------------main--------------------- -->
        <div class="corrector-de-height">
        <section class="logo-empresa">
            <img src="/public/img/logo.png" alt="logo">
            <p>VAPOR</p>    
        </section>
        <div class="inciar-user">
            <p>INICIA SESIÓN CON</p>
            <P>TU CUENTA DE VAPOR</P>
        </div>
        <form action="GET">
            <input type="text" name="user" placeholder="Nombre o correo electrónico">
            <input type="text" name="contraseña" placeholder="Contraseña">
            <button class="boton-1" type="submit">Inciar sesión</button>
            <p>No tienes cuenta Vapor?</p>
            <button class="boton-2" type="submit">Regístrate</button>
        </form>
        <nav>
            <ul type="None" class="redes">
                <li><a href="#"><i class="fab fa-facebook" style="color: #ffffff;"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" style="color: #ffffff;"></i></i></a></li>
                <li><a href="#"><i class="fab fa-youtube" style="color: #ffffff;"></i></i></a></li>
                <li><a href="#"><i class="fab fa-instagram" style="color: #ffffff;"></i></a></li>
                <li><a href="#"><i class="fab fa-twitch" style="color: #ffffff;"></i></a></li>
            </ul>
        </nav>
    </div>
    </main>
    <!-- ---------------------footer--------------------- -->
    <footer>
        <nav>
            <ul type="None">
                <li><a href="#">EMPLEO |</a></li>
                <li><a href="#">INFORMACIÓN |</a></li>
                <li><a href="#">ASISTENCIA |</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
        <p>©2023 Vapor Entertainment, Inc.</p>
        <p>Todas los</p>
        <p class="negritos">juegos mencionados NO son</p>
        <p>propiedad de los respectivos desarrolladores de la pagina web.</p>
        <nav>
            <ul type="None" class="politicas">
                <li><a href="#">Privacidad |</a></li>
                <li><a href="#">Legal |</a></li>
                <li><a href="#">Términos |</a></li>
                <li><a href="#">Cookie Policy |</a></li>
                <li><a href="#">Ajustes de cookies</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>