<footer>
    <div class="footer__logo-2">
        <img src="/img/logo.png" alt="logo">
        <h1>VAPOR</h1>
    </div>
    <ul type="None">
        <li><a href="#">EMPLEO |</a></li>
        <li><a href="#">INFORMACIÓN |</a></li>
        <li><a href="#">ASISTENCIA |</a></li>
        <li><a href="#">CONTACTO</a></li>
    </ul>
    <ul type="None" class="redes">
        <li><a href="#"><i class="fab fa-facebook" style="color: #ffffff;"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter" style="color: #ffffff;"></i></i></a></li>
        <li><a href="#"><i class="fab fa-youtube" style="color: #ffffff;"></i></i></a></li>
        <li><a href="#"><i class="fab fa-instagram" style="color: #ffffff;"></i></a></li>
        <li><a href="#"><i class="fab fa-twitch" style="color: #ffffff;"></i></a></li>
    </ul>
    <p>©2023 Vapor Entertainment, Inc.</p>
    <p>Todas los</p>
    <p class="negritos">juegos mencionados NO son</p>
    <p>propiedad de los respectivos desarrolladores de la pagina web.</p>
    <ul type="None" class="politicas">
        <li><a href="#">Privacidad |</a></li>
        <li><a href="#">Legal |</a></li>
        <li><a href="#">Términos |</a></li>
        <li><a href="#">Cookie Policy |</a></li>
        <li><a href="#">Ajustes de cookies</a></li>
    </ul>
</footer>