<header>
    <div class="header-1">
        <div class="header__logo">
            <img src="/img/logo.png" alt="logo">
            <h1>VAPOR</h1>
        </div>
        <ul class="header__link" type="None">
            <li class="header__buscador"><input type="text" placeholder="Buscar"></li>
            <li class="sin-padding"> <a href="#">ACERCA DE</a></li>
            <li><a href="#"><i class="fas fa-user" style="color: #ffffff; "></i></a></li>
            <li><a href="#"><i class="fas fa-shopping-cart" style="color: #ffffff;"></i></a></li>
            <li> <a href="#">SOPORTE</a></li>
        </ul>
    </div>
    <img src="/img/carrion-home-2.jpg" alt="fondo de producto">
</header>